


html{
    scroll-behavior: smooth;
    /* to hide the horizontal scroll */
    overflow-x: hidden;

    
    
    
    

    
}



section{
    margin-top: 7%;
    color: black;


}

section .heading-all{
    color: #022a30;
    font-weight: 400;

}

section .card{
    color: #075561;
}

section .card-img{
    /* border-top-right-radius: 30px; */
    border: 0px;
}



#nav-bar{
    background: #075561;

    position: sticky;
    top: 0;
    z-index: 20;
}



.navbar-nav .nav-link,
.navbar-nav .nav-link:visited,
.navbar-nav .nav-link:focus {
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.3s;
  }

  .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    color: #54d5e1; 
    text-decoration: none;
    border-bottom: 20px;
  }

  .navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #027e89;

  }



.navbar-nav li{
    padding: 0 10px;
}
.navbar-brand{
    font-weight: 300;
    color: white;
}





.carousel-item {
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 450px;
  }
  
  .carousel-item img {
    max-width: 100%;
    max-height: 80%;
    width: auto;
    height: auto;
    object-fit: cover;
  }
  



  .jumbotron{
    color: #075561;
  }

















/* reviews */

.reviews{
    border-left: 4px solid ;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}



.reviews img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
    object-fit: cover;
}

.user-details{
    display: inline-block;
    font-size: 20px;
    color: #022a30;
}

.fa-star {
    color: gold;
    font-size: 1em;
}


.card-img{
    object-fit: cover;
}

.cream-bg{
    /* height: 80vh; */
    background-color: #f4eae3;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.review-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}







.wrapper-consultant-info{

    margin: 1% auto;
    border-radius: 10px;
    /* padding-top: 10%;
    padding-bottom: 50px; */
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .ratio-iframe {
        height: width;
    }
  }


  @media (min-width: 768px) {
    .ratio-iframe {
        height: 450px;
    }
  }


.social-handle{
    border-radius: 50%;
    transition: 0.5s;

}

.social-handle a:hover img{
    transform: translatey(-10px);
}

/* ----------------------------Carousel---------------------------------------------- */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, #027e89, rgba(0, 0, 0, 0));
  }
  
  

/* ---------------------Footer------------------------------------------------------------------ */

.footer{
    background-color: #075561;
    color: white;
}



/* ---------------------------button----------------------------------------- */
.button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 1px;

    color: #075561;
    background: transparent;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border: 2px solid #075561;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #075561;
  }
  
  .button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #075561;
  }


/* -----------------------------headings---------------------------------- */

#youtube-link{
    color: #075561;
}
#youtube-link a {
    color: #075561;
}



  
#youtube-iframe{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
/*  */


.card-title{
    color: #075561;

}
