*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
}


html{
    scroll-behavior: smooth;
     /*to hide the horizontal scroll */
    overflow-x: hidden;
}

/*Hiding Scrollbar but keeping functionality*/
body::-webkit-scrollbar{
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Roboto', sans-serif;
}


section{
    margin-top: 3.5rem;
    color: black;
}
section .heading-all{
    color: #022a30;
    font-weight: 400;
    padding-bottom: 25px;
}


/* About our doctor cards */
section .card{
    color: #fff;
    border-radius: 1rem 1rem;
    background-color: rgba(2, 126, 137, 0.61);
}
section .card-img{
    border-top-right-radius: 30px;
    border: 0;
}
section .card-title{
    color: #075561;
}
section .card-text{
    font-size: 14px;
}


/* Top Navigation bar */
nav.navbar{
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 400;
    background: rgb(0, 0, 0, 0.3);

}


#nav-bar{
    background: #075561;
    position: sticky;
    top: 0;
    z-index: 20;
    opacity: .8;
}
.navbar-nav .nav-link,
.navbar-nav .nav-link:visited,
.navbar-nav .nav-link:focus {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.3s;
}
.navbar-nav .nav-link:hover {
    color: #54d5e1;
    text-decoration: none;
    border-bottom: 20px;
    transition: .3s;
}
.navbar-nav .nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #027e89;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-brand{
    font-weight: 300;
    color: white;
}

.home-photo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-logo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}




/*Carousel Styling*/
.carousel-item {
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 450px;
}

button.carousel-control-prev, button.carousel-control-next{
    display: none;
}

  
  .carousel-item img {=
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .jumbotron{
    color: #075561;
  }


/*Front Page Styling*/
.landing-section,.carousel-inner, .overlay, .welcome-page{
    height: 100vh;
    width: 100vw;
}

.landing-section {
    position: absolute;
}

/*Welcome Page Styling*/
section.welcome-section{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

div.welcome-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1.welcome-heading, p.welcome-para, .welcome-buttons > button, .welcome-buttons > a > button{
    color: #fff;
}

/*Why Choose Us Section*/
h1.title{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.why-choose-us{
    height: 100vh;
}

section .card-img-top{
    padding: 2rem;
    border-radius: 50%;
}

.card-title{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.card-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

/* reviews */
.reviews-quote{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100vw;
    color: #fff;
}

p.user-details{
    color: #fff;
}

.reviews-quote h1.title{
    margin-bottom: -10rem;
}

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    background: rgba(2, 126, 137, 0.61);
    width: 480px !important;
    height: 280px !important;
    padding: 2rem;
}

.review-carousel{
    margin: auto;
    width: 68%;
}

.carousel-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding: 2rem;
    width: 32%;
    height: 360px;
    margin-right: 20px;
    background: rgba(2, 126, 137, 0.61);
    counter-increment: carousel-cell;
    border-radius: 1rem 1rem;
}

.flickity-page-dots{
    display: none;
}

.flickity-button{
    opacity: .5;
}

.reviews img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
    object-fit: cover;
}

.user-details{
    display: inline-block;
    font-size: 20px;
    color: #022a30;
}

.fa-star {
    color: gold;
    font-size: 1em;
}


.card-img{
    object-fit: cover;
}

.cream-bg{
    /* height: 80vh; */
    background-color: #f4eae3;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.review-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}







.wrapper-consultant-info{

    margin: 1% auto;
    border-radius: 10px;
    /* padding-top: 10%;
    padding-bottom: 50px; */
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .ratio-iframe {
        height: 450px;
    }
}

@media (min-width: 768px) {
    .ratio-iframe {
        height: 450px;
    }
}


.social-handle{
    border-radius: 50%;
    transition: 0.5s;

}

.social-handle a:hover img{
    transform: translatey(-10px);
}

/* ----------------------------Carousel---------------------------------------------- */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #027e89, rgba(0, 0, 0, 0.2));
}
  
  

/* ---------------------Footer------------------------------------------------------------------ */

.footer{
    background-color: #075561;
    color: white;
}



/* ---------------------------button----------------------------------------- */
.button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 1px;

    color: #075561;
    background: transparent;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border: 2px solid #075561;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #075561;
  }
  
  .button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #075561;
  }


/* -----------------------------headings---------------------------------- */

#youtube-link{
    color: #075561;
}
#youtube-link a {
    color: #075561;
}



  
#youtube-iframe{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
/*  */

