/* *{
    margin: 0;
    padding: 0;
} */

body{
    font-family: 'Courier New', Courier, monospace;
}

#nav-bar{
    position: sticky;
    top: 0;
}



.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li{
    font-weight: 600;
}






/*  */
#banner{
    color: black;
    padding-top: 5%;
}
.promo-title{
    
    margin-top: 100px;
}

#title-page{
    height: 80vh;
    background-image: url('homephoto.jpeg');
    background-size: cover;
    background-position: center;
    height: 0;
    padding-top: calc(100% / (16 / 9));
}



























/* testimonila */

.testimonials{
    border-left: 4px solid ;
    margin-top: 50px;
    margin-bottom: 50px;
}

#testimonials{
    margin: 100px 0;    
}

.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}


.card-img{
    border-bottom-right-radius: 0px;
    object-fit: cover;
}

.cream-bg{
    /* height: 80vh; */
    background-color: #f4eae3;
    padding-bottom: 2rem;
    padding-top: 2rem;
}






.wrapper-consultant-info{

    margin: 10% auto;
    border-radius: 10px;
    /* padding-top: 10%;
    padding-bottom: 50px; */
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .ratio-iframe {
        height: width;
    }
  }


  @media (min-width: 768px) {
    .ratio-iframe {
        height: 450px;
    }
  }


.social-handle{
    border-radius: 50%;
}













